{% extends 'cadastro_visitante/base.html' %}
{% block conteudo %}
{% load widget_tweaks %}
<div class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <h1 style="text-align: center;">Visitante</h1>
        <div class='form-row align-items-center'>
            <label>Tipo</label>
            {% render_field formulario.tipo class='form-control' %}
            <label>Nome</label>
            {% render_field formulario.nome class='form-control' style='height: 38px;' %}
            <label>Rg</label>
            {% render_field formulario.rg class='form-control' %}
            <label>Motivo</label>
            {% render_field formulario.motivo class='form-control' style='height: 38px;' %}
            <label>Data</label>
            {% render_field formulario.data class='form-control' %}
        </div>
        <button style='margin-top: 10px;' class='btn btn-success' type="submit">Salvar</button>
    </form>
</div>
{% endblock %}