<h1>Listagem de visitantes</h1>
<button><a href="{% url 'novo_visitante' %}">Novo Visitante</a></button>
<table>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Data</th>
    </tr>
    {% for dado in dados %}
    <tr>
        <td>{{dado.id}}</td>
        <td>{{dado.nome}}</td>
        <td>{{dado.data}}</td>
        <td><button><a href="{% url 'detalhe' dado.id %}">Detalhe</a></button></td>
        <td><button><a href="{% url 'editar' dado.id %}">Editar</a></button></td>
    </tr>
    {% endfor %}
</table>